body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	margin: 0;
}

h2 {
	font-size: 48px;
}

p, a {
	font-size: 15px;
	color: $color;
}

.left {
	float: left
}

.right {
	float: right
}

.show {
	display: block;
}

.no-border {
	background: none !important;
}

fieldset {
	border: 1px solid #e8e8e8;
	padding: 20px 130px 20px 30px;
	position: relative;

	legend {
		border: none;
		width: auto;
		font-size: 24px;
		margin: 0;
		padding: 0 10px;
		font-weight: 500;

		@media all and (max-width: 505px) {
			& {
				font-size: 22px;
			}
		}
	}

	.custom-img {
		position: absolute;
		right: 40px;
		bottom: 0;
		z-index: 9;
	}
}

