extends template/base
block content
	div.content
		div.owl-carousel.owl-theme
			div
				img(src="images/slide1.jpg" alt="")
				div.container
					div.owl-carousel__description
						h2 Философия G-DERM
						p.
							Замедляя внутренние источники старения, мы помогаем 
							женщинам выглядеть, чувствовать и жить молодо.
						a(href="").more Подробнее
			div
				img(src="images/slide1.jpg" alt="")
				div.container
					div.owl-carousel__description
						h2 Философия G-DERM
						p.
							Замедляя внутренние источники старения, мы помогаем 
							женщинам выглядеть, чувствовать и жить молодо.
						a(href="").more Подробнее
		div.content__container.container
			div.row.tiles
				div.col-lg-6.col-md-6.col-sm-6.col-xs-12.tile
					fieldset
						legend Профессиональная серия
						p.
							Только для использования профессиональными 
							косметологами после получения сертификата 
							в нашем учебном-центре.
						a(href="").custom-link Перейти в каталог
						img(src="images/img1.png" alt="").custom-img
				div.col-lg-6.col-md-6.col-sm-6.col-xs-12.tile
					fieldset
						legend Домашняя серия
						p.
							Те же препараты, но в меньшей концентрации. 
							Для использования дома в перерывах между 
							салонными процедурами.
						a(href="").custom-link Перейти в каталог
						img(src="images/img2.png" alt="").custom-img