extends template/base
block content
	div.content
		div.owl-carousel.owl-theme
			div
				div.container
					div.owl-carousel__description
						h2 Философия G-DERM
						p.
							Замедляя внутренние источники старения, мы помогаем 
							женщинам выглядеть, чувствовать и жить молодо.
						a(href="").more Подробнее
			div
				div.container
					div.owl-carousel__description
						h2 Философия G-DERM
						p.
							Замедляя внутренние источники старения, мы помогаем 
							женщинам выглядеть, чувствовать и жить молодо.
						a(href="").more Подробнее