header.header
	div.header__top
		div.container
			h1
				a(href="#").logo G-DERM
			div.header__contacts.right
				a(href="").custom-link Кабинет косметолога
				p.header-phones
					b  +7 (812) 313-00-90
				a(href="#").link-write Написать нам