.wrapper {
	width: 1280px;
	margin: 0 auto;
	@media all and (min-width: 1400px) {
		& {
			width: 1400px;
		}
	}
}

@media all and (min-width: 1200px) {
	.container {
		width: 1200px;
		max-width: 1200px;
	}
}