.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

.content__container {
	margin-top: 17px;
	margin-bottom: 47px;
}

.custom-link {
	padding-right: 11px;
	background: url(../images/icon-arrow.png) 100% 50% no-repeat;

	&:hover {
		color: $color;
		text-decoration: none;
		opacity: .8;
	}
}

.tiles {
	.tile {
		float: none;
		display: inline-block;
		vertical-align: middle;
		
		@media all and (max-width: 991px) {
			& {
				.custom-img {
					right: 10px;
				}
			}
		}
		@media all and (max-width: 767px) {
			& {
				.custom-img {
					width: 55px;
				}
			}
		}
	}
}

.nav {
	& > li {
		& > a {
			padding: 15px 25px;

			@media all and (max-width: 1200px) {
				& {
					padding: 15px;
				}
			}
			@media all and (max-width: 992px) {
				& {
					padding: 15px 5px;
				}
			}
			@media all and (max-width: 767px) {
				& {
					padding: 15px 35px;
				}
			}
		}
	}
}

.owl-theme {
	.owl-dots {
		.owl-dot.active {
			span {
				background: #72b13a;
			}
		}
		.owl-dot:hover {
			span {
				background: #72b13a;
			}
		}
	}
	.owl-nav.disabled {
		& + .owl-dots {
			top: -35px;
			position: relative;
			margin-top: 0;
		}
	}
}

.navbar-collapse {
	padding: 0;
}

.navbar-default {
	background: #fff;
	border: none;
	float: left;
	margin-bottom: 0;

	@media all and (max-width: 767px) {
		& {
			float: right;
			margin-left: 25px;
		}
	}

	.navbar-nav {
		& > li {
			background: url(../images/nav-line.png) 100% 50% no-repeat;
			a {
				color: $color;
			}
			& > a:hover {
				background: $green;
				color: #fff;	
			}
		}
		li:last-child {
			background-image: none;
		}
		.dropdown-menu {
			padding: 0;
			border: 1px solid #e8e8e8;
			border-top: 2px solid $green;
			box-shadow: 0 9px 51px rgba(53,67,67,.10);

			li {
				& a {
					padding: 10px 20px;
					font-weight: 300;
					@media all and (max-width: 767px) {
						& {
							padding: 15px 5px;
						}
					}
				}
				& > a:hover {
					background: #f7f7f7;
					color: $color;	
				}
			}
		}
		@media all and (max-width: 767px) {
			& {
				margin: 0;
			}
		}
	}
	.navbar-nav {
		& > .active {
			& > a,
			& > a:focus,
			& > a:hover {
				background: $green;
				color: #fff;	
			}
		}
		& > .open {
			& > a,
			& > a:focus,
			& > a:hover {
				background: $green;
				color: #fff;	
			}
		}
	}
}

.owl-carousel {
	.owl-item {
		background-size: cover;
		height: 560px;
	}
	.owl-carousel__description {
		max-width: 480px;
		font-weight: 300;
		position: absolute;
		top: 50%;

		.more {
			background-color: #354343;
			color: #fff;
			padding: 13px 30px;
			border-radius: 3px;
			display: inline-block;
			box-shadow: 1px 0px 13px rgba(41,62,22,.4);
			margin-top: 15px;

			&:hover {
				opacity: .9;
				text-decoration: none;
			}
		}
	}
}

@media all and (min-width: 1200px) {
	.container {
		width: 1200px;
		max-width: 1200px;
	}
}
